<h1>Messages</h1>

<table>
  <tr>
    <th>ID</th><th>Chat ID</th><th>User ID</th><th>Body</th><th>Actions</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td><%= message.chat_id %></td>
      <td><%= message.user_id %></td>
      <td><%= message.body %></td>
      <td><%= link_to "View", message_path(message.id) %></td>
      <% if can? :edit, message %>
        <%= link_to "Editar", edit_message_path(message), class: "btn btn-sm btn-outline-warning me-1" %>
      <% end %>

    </tr>
  <% end %>
</table>
<%= link_to "new message", new_message_path %>