<h1>Message <%= @message.id %></h1>
<p>Chat ID: <%= @message.chat_id %></p>
<p>User ID: <%= @message.user_id %></p>
<p>Body: <%= @message.body %></p>
<p><%= link_to "Back to messages", "/messages" %></p>
